*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box; 
}

header{
	width: 100%;
	height: 50px;
	background-color: #006898;
}

.margen{
	padding-left: 0px;
    padding-right: 0px;
}
.alineacionTexto{
	text-align: center;
}

.linkFormato{
	text-decoration: none;
}

.text-black{
	color: black;
}

.espaciado{
	margin: 5px;
}

/*estilos para data table*/

.colortitulo{
	background: #e0e0e0;
}

#tblRespuesta{
	 width: 96%;
	 text-align: center;
	}

#tblFechas{
	 width: 96%;
	 text-align: center;
	}

#tblProductos{
	 width: 96%;
	 text-align: center;
	}

#tblMovimientos{
	width: 96%;
	text-align: center;
}



#tblRespuesta_info{
	margin-left: 40%;
}

#tblRespuesta_filter{
	margin-right:5%;
}

#tblFechas_filter{
	margin-right:5%;
}

#tblProductos_filter{
	margin-right:5%;
}

#tblMovimientos_filter{
	margin-right:5%;
}

.dt-buttons{
	margin-left: 5%;
	margin-bottom: 1%;
}

/*estilos login*/

.encabezado{
	text-align:center;
	color:white;
	font:bold;
	font-size: 2.3em;
	padding-top: 5px;
}

.titutloFormulario{
	text-align: center;
	color: #006896;
	font:bold;
	font-size: 2.3em;
	padding-top: 5px;
}

.contenedor{
	width: 450px;
	padding: 30px;
	border-radius: 0.3em;
	border: 1px solid #bdbdbd;
	margin-top: 50px;
}

.margenes{
	padding-left: 0px; 
	padding-right: 0px;
}

.logo{
	margin-top: 10em;
}

.cajaTexto{
	display: block;
	width: 100%;
	padding: 10px;
	margin: 20px 0;
	font-size: 20px;
	border-radius: 0.3em;
}
.texto{
	text-align: center;

}

.boton{
	border: 0;
	background: #006898;
	color:white;
	cursor: pointer;
	border-radius: 0.3em;
	margin-bottom: 0;
	width: 100%;
	font-size: 20px;
	padding: 10px;
}

.boton:hover{
	transform: scale(0.95)
}

@media(max-width: 480px){
	form{
		width: 95%;
	}
	
}

/*estilos usuarios*/

.selectRol{
	width: 70%;
	font-size:25px;
	padding: 0 0 0 20px;
	display: block;
}

.contenedorOpciones{
	width: 450px;
	padding: 30px;
	border-radius: 0.3em;
	z-index: 90;
	position: relative;
	margin-top: 10%;
}

.contenedorUsuario{
	width: 80%;
	padding: 30px;
	border-radius: 0.3em;
	z-index: 90;
	position: relative;
	margin-top: 10%;	
}

.botonUsuarios{
	border: 0;
	background: #006898;
	color:white;
	cursor: pointer;
	border-radius: 0.3em;
	margin-bottom: 0;
	width: 50%;
	font-size: 20px;
	padding: 10px;
}

.botonUsuarios:hover{
	transform: scale(0.95);
}

/*Modificar Usuario*/

.botonesUsuario{
	background: linear-gradient(#FFDA63, #FFB940);
	border: 0;
	color: brown;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 0;
	width: 100%;
	font-size: 15px;
	padding: 4px;
}

.buscar{
	font-size: 15px;
}

.botonRegresar{
	background:#006898;
	border: 0;
	color: white;
	cursor: pointer;
	border-radius: 0.3em;
	margin-bottom: 0;
	width: 10%;
	font-size: 20px;
	padding: 4px;
	z-index: 90;
	position: relative;

}

.botonRegresar:hover{
	transform: scale(0.95)
}


/*estilos menuAdministrador*/

.contenedorAdmin{
	width: 40%;
	margin: auto;
	padding: 30px;
	margin-top: 13%;
	border-radius: 0.3em;
	z-index: 90;
	position: relative;
}

.contenedorAdmin a{
	color: brown;
	text-decoration: none;
}

.icono{
	position: absolute;
	left: 90%;
	cursor: pointer;
}

.fondo  {
    background-image: url("css/fondo.jpg");
   
}

/*-----estilos ventana con datos-----*/

    .cerrar{
        float:right;
        margin: 5px;
        height:22px;
        width:22px;
        color:#ffffff;
        background-color: #ff0000;
        text-align:center;
        cursor:pointer;
    }
    .ventana{
        border: 2px solid #666666;
        position: absolute;
        width: 10%;
        visibility: hidden;
        border-radius: 5px;
        padding: 10px;
    }
    #ventana1{
        z-index: 10;
        right: 1%;
        top: 5.5%;
        background-color: rgba(256,256,256,0.98);
    }

/*fin de estilos de ventana*/
    
/*Estilo de ventana modal para ingresar nuevo producto en entradas */

   .cerrarModal{
       float:right;
       margin: 2px;
       height:22px;
       width:22px;
       color:#ffffff;
       background-color: #ff0000;
       text-align:center;
       cursor:pointer;
   }
   .ventanaModal{
       border: 2px solid #666666;
       position: absolute;
       width: 45%;
       height: 50%;
       visibility: hidden;
       border-radius: 5px;
       padding: 10px;
   }
   #ventana1Modal{
   	   position: absolute;
       z-index: 100;
       right: 30%;
       top: 15%;
       background-color: rgba(256,256,256,0.98);

   }

   #clasBaja{
   		background-color: #f44336;
		border: 0;
		color: white;
		cursor: pointer;
		border-radius: 0.3em;
		margin-bottom: 0;
		width: 100%;
		font-size: 11px; 
		padding: 10px; 

   }
   #clasBaja:hover{
   		transform: scale(0.95);
   }

    #clasAlta{
   		background-color: #66bb6a;
		border: 0;
		color: white;
		cursor: pointer;
		border-radius: 0.3em;
		margin-bottom: 0;
		width: 100%;
		font-size: 11px; 
		padding: 10px; 

   }
   #clasBaja:hover{
   		transform: scale(0.95);
   }


/*fin de estilos de ventana*/
.botonMenu{
	background:#006898;
	border: 0;
	color: white;
	cursor: pointer;
	border-radius: 0.3em;
	margin-bottom: 0;
	width: 80%;
	font-size: 20px;
	padding: 10px;
}
.botonMenu:hover{
	transform: scale(0.95)
}
.alineacionMenu{
	display:inline-block;
}

/*estilos configuracion*/

.botonConfig{
	background: linear-gradient(#FFDA63, #FFB940);
	border: 0;
	color: brown;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 0;
	width: 60%;
	font-size: 20px;
	padding: 10px;
}

.botonConfig:hover{
	opacity: 1;
}

.botonConfig:active{
	transform: scale(0.95);
}


.contenedorConfig{
	width: 80%;
	margin: auto;
	background-color: #3D8C99;
	padding: 30px;
	border: 1px solid rgba(0,0,0,0.9);
	margin-top: 50px;
}


.botonInicio{
	background: linear-gradient(#FFDA63, #FFB940);
	border: 0;
	color: brown;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 0;
	width: 20%;
	font-size: 20px;
	padding: 10px;
}

.botonInicio:hover{
	opacity: 1;
}

.botonInicio:active{
	transform: scale(0.95);
}

.contenedorConfig a{
	color: brown;
	text-decoration: none;
}


/*estilos para productos*/

.buscarProducto{
	display: block;
	width: 30%;
	padding: 10px;
	font-size: 15px;
	text-align: center;
}

.botonProductos{
	background:#006898;
	border: 0;
	color: white;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 0.3em;
	margin-bottom: 0;
	width: 70%;
	font-size: 15px;
	padding: 10px;
}

.botonProductos:hover{
	transform: scale(0.95);
}

.botonBuscar:hover{
	opacity: 1;
}

.botonBuscar:active{
	transform: scale(0.95);
}

.boton-home{
	cursor: pointer;
}
/*estilos opcionUsuario.php*/

.tablaUsuarios{
	width: 80%;
	border-color: black;
	color: white;

}

.contenedorUsuarios{
	width: 85%;
	margin: auto;
	background-color: #3D8C99;
	padding: 30px;
	border: 1px solid rgba(0,0,0,0.9);
	margin-top: 50px;
}

.botones{
	background: linear-gradient(#FFDA63, #FFB940);
	border: 0;
	color: brown;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 0;
	width: 20%;
	font-size: 20px;
	padding: 10px;
}

/*estilos para reportes*/
#fecha{
	display: none;
}

#productos{
	display: none;
}

#entradasalida{
	display: none;
}

.cajasReporte{
	text-align: center;
	font-size: 15px;
}

.contenedorReporte{
	width: 80%;
	margin: auto;
	background-color: #3D8C99;
	padding: 30px;
	border: 1px solid rgba(0,0,0,0.9);
	margin-top: 50px;
}

.botonReporte{
	border: 0;
	background: #006898;
	color:white;
	cursor: pointer;
	border-radius: 0.3em;
	margin-bottom: 0;
	width: 30%;
	font-size: 20px;
	padding: 10px;
	z-index: 90;
	position: relative; 
}

.botonReporte:hover{
	transform: scale(0.95);
}

.white-text{
	color: #fff;
}

/*Estilos Entrada y Salida*/

.botonES{
	background: linear-gradient(#FFDA63, #FFB940);
	border: 0;
	color: brown;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 0;
	width: 15%;
	font-size: 15px;
	padding: 10px;
	visibility:hidden;
}

.cajaES{
	width: 30%;
	padding: 5px;
	font-size: 15px;
	z-index: 90;
	position: relative;
}

/*estilos para addProductos*/

.contenedorProductos{
	width: 800px;
	margin: auto;
	padding: 30px;
	border-radius: 0.3em;
	z-index: 90;
	position: relative;
	margin-top: 10%;
}

.contenedorProductosES{
	width: 800px;
	margin: auto;
	padding: 30px;
	border-radius: 0.3em;
	background-color: #e0e0e0;
	border: 1px solid #bdbdbd;
	margin-top: 20px;
}

/*-----------------estilos cargarArchivo------------------------------------------------------*/
.cont-cargarArchivo{
	width: 500px;
	padding: 30px;
	z-index: 90;
	position: relative;
	margin-top: 10%;
}

.botones-cargarArchivo{
	border: 0;
	background: #006898;
	color:white;
	cursor: pointer;
	border-radius: 0.3em;
	margin-bottom: 0;
	width: 30%;
	font-size: 20px;
	padding: 10px;
}

.botones-cargarArchivo:hover{
	transform: scale(0.95);
}
.bt-regresar{
	border: 0;
	background: #006898;
	color:white;
	cursor: pointer;
	border-radius: 0.3em;
	margin-bottom: 0;
	width: 10%;
	font-size: 20px;
	padding: 10px;
	z-index: 90;
	position: relative;
}

.bt-regresar:hover{
	transform: scale(0.95);
}


.bt-cargarArchivo{
	border: 0;
	background: #006898;
	color:white;
	cursor: pointer;
	border-radius: 0.3em;
	margin-bottom: 0;
	width: 20%;
	font-size: 20px;
	padding: 10px;
}

.bt-cargarArchivo:hover{
	transform: scale(0.95);
}

#archivo{
	display: none;
}

/*-----------------fondo marca de agua---------------------------------*/
.marca-de-agua {
    background-image: url("css/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background: fixed;
    width: 100%;
    height: auto;
    margin-top:80px;
    opacity: 0.5;
   	position: absolute;
}
.marca-de-agua img {
   
    width: 100%;
    height: auto;
    opacity: 0.5;
}